[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
flask-restful = "*"
flask-jwt-extended = "*"
psycopg2 = "*"

[dev-packages]
pip-chill = "*" #pip-chill --no-chill > requirements.txt

[requires]
python_version = "3.11"
