{% extends 'base.html' %}


{% block title %}Index{% endblock %}

{% block content %}

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">

        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="featured-tab" data-tabs-target="#featured" type="button" role="tab" aria-controls="featured" aria-selected="true">Featured playlists</button>
        </li>

        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="dashboard-tab" data-tabs-target="#users" type="button" role="tab" aria-controls="users" aria-selected="false">User's playlists</button>
        </li>
</div>

<div id="myTabContent">
    <div class="p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="featured" role="tabpanel" aria-labelledby="featured-tab">


      {% for playlist in featured_playlists %}

        <div>
          <img src="{{ playlist.image }}" alt="Playlist image" class="rounded-lg">
          <a href="{{ playlist.link }}">{{ playlist.name }}</a>
        </div>

      {% endfor %}

    </div>
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="users" role="tabpanel" aria-labelledby="users-tab">
      {% for playlist in user_playlists %}

        <div>
          <img src="{{ playlist.image }}" alt="Playlist image" class="rounded-lg">
          <a href="{{ playlist.link }}">{{ playlist.name }}</a>
        </div>

      {% endfor %}
    </div>
</div>



{% endblock %}
